@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Raúl Cabrera S.</h3>

<address>
    Medellín - Colombia<br />
    <abbr title="Phone">P:</abbr>
    +57 305 391 6854
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">raul.csa@gmail.com</a><br />
  </address>
